<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="static/css/base.css">
		{% if title  %}
			<title> {{title}}!</title>
			{% endif %}
			<style>
				@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
			</style>
	</head>
	<body>
		<div id="base-header">
			<a onmouseover="this.style.color='gray';" onmouseout="this.style.color='black';" href ="/logout">Logout</a>
			<a onmouseover="this.style.color='gray';" onmouseout="this.style.color='black';" href ="/home">Home</a>
			<a onmouseover="this.style.color='gray';" onmouseout="this.style.color='black';" href ="/">Splash</a>
		</div>	
		<div style="display: grid; justify-items: center;" >
			{% block content %}
			{% endblock %}
		</div> 
	</body>
</html>
