{% extends "base.html" %}
{% block content %}
<div style="display: grid; justify-items: center; padding-top: 20px">
<a onmouseover="this.style.color='gray';" onmouseout="this.style.color='black';"  href="http://localhost:5000/md_to_pdf" style="  font-family: 'Roboto', sans-serif; text-decoration: none; font-size: 20px; color: black;">Markdown to PDF</a>
<a onmouseover="this.style.color='gray';" onmouseout="this.style.color='black';" href="http://localhost:5000/md_to_flashcard" style="font-family: 'Roboto', sans-serif; text-decoration: none; font-size: 20px; color: black;">Markdown to flashcard</a>
<a onmouseover="this.style.color='gray';" onmouseout="this.style.color='black';" href="http://localhost:5000/render_md" style="font-family: 'Roboto', sans-serif; text-decoration: none; font-size: 20px; color: black;">Render Markdown</a>
<a onmouseover="this.style.color='gray';" onmouseout="this.style.color='black';" href="http://localhost:5000/flashcard_to_pdf" style="font-family: 'Roboto', sans-serif; text-decoration: none; font-size: 20px; color: black;">Flashcard to PDF</a>
<a onmouseover="this.style.color='gray';" onmouseout="this.style.color='black';" href="http://localhost:5000/flashcard" style="font-family: 'Roboto', sans-serif; text-decoration: none; font-size: 20px; color: black;">Create Flashcard</a>

</div>
{% endblock %}
