{% extends "base.html" %}
{% block content %}
<h1 style="font-family: 'Roboto', sans-serif; text-decoration: none; font-size: 20px; color: black;">Please enter a Markdown file to convert to PDF</h1>
<form method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    {{ form.file }}
    <input type="submit">
</form>
{% if pdf %}
<!-- <a href="{{ pdf }}" >Hello world!</a> -->
<h1>Your markdown file was successfully converted to a PDF! It was stored at {{ pdf }}</h1>
{% endif %}
{% if md_file %}
{{ md_file | safe }}
{% if success %}
<p>Your file has been added!</p>
{% endif %}
{% endif %}
{% endblock %}
